{{- /* gotype: github.com/go-surreal/som/core/embed.Template */ -}}
//go:build embed

package query

import (
	"context"
	"fmt"

	"{{.GenerateOutPath}}/internal/distinct"
)

func Distinct[M any, T any](ctx context.Context, b Builder[M], f distinct.Field[M, T]) ([]T, error) {
	if f.Decode == nil {
		return nil, fmt.Errorf("distinct field has no decode function")
	}

	req := b.query.BuildDistinct(f.Key)

	raw, err := b.db.Query(ctx, req.Statement, req.Variables)
	if err != nil {
		return nil, fmt.Errorf("could not execute distinct query: %w", err)
	}

	return f.Decode(b.db.Unmarshal, raw)
}
