//go:build embed

package query

import (
	"fmt"

	"github.com/google/uuid"

	"{{.GenerateOutPath}}/internal/types"
)

func NewUUIDGoogleField[M any](key string) Field[M, uuid.UUID] {
	return Field[M, uuid.UUID]{
		key: key,
		decode: func(unmarshal func([]byte, any) error, data []byte) ([]uuid.UUID, error) {
			var raw []queryResult[distinctResult[types.UUIDGoogle]]
			if err := unmarshal(data, &raw); err != nil {
				return nil, fmt.Errorf("could not unmarshal distinct values: %w", err)
			}
			if len(raw) < 1 || len(raw[0].Result) < 1 {
				return nil, nil
			}
			vals := raw[0].Result[0].Values
			result := make([]uuid.UUID, len(vals))
			for i, v := range vals {
				result[i] = uuid.UUID(v)
			}
			return result, nil
		},
	}
}

func NewUUIDGooglePtrField[M any](key string) Field[M, uuid.UUID] {
	return NewUUIDGoogleField[M](key)
}
