//go:build embed

package lib

import (
	"github.com/google/uuid"

	"{{.GenerateOutPath}}/internal/types"
)

type UUIDGoogle[M any] struct {
	*Base[M, uuid.UUID, *UUIDGoogle[M], *Slice[M, uuid.UUID, *UUIDGoogle[M]]]
}

func NewUUIDGoogle[M any](key Key[M]) *UUIDGoogle[M] {
	conv := func(val uuid.UUID) any {
		return types.UUIDGoogle(val)
	}

	return &UUIDGoogle[M]{
		Base: NewBaseConv[M, uuid.UUID, *UUIDGoogle[M], *Slice[M, uuid.UUID, *UUIDGoogle[M]]](key, conv),
	}
}

type UUIDGooglePtr[M any] struct {
	*UUIDGoogle[M]
	*Nillable[M]
}

func NewUUIDGooglePtr[M any](key Key[M]) *UUIDGooglePtr[M] {
	return &UUIDGooglePtr[M]{
		UUIDGoogle: NewUUIDGoogle[M](key),
		Nillable:   NewNillable[M](key),
	}
}
