name: Pull Request Labeler

on: pull_request_target

jobs:

  update:
    name: Update
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:

      - uses: actions/checkout@v5
        with:
          sparse-checkout: .github/labeler.yml

      - uses: actions/labeler@v6
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          sync-labels: true
