name: PR

on:
  pull_request:
    types: [opened, ready_for_review, synchronize, reopened]
    paths:
      - ".github/workflows/pull_request.yml"
      - "cmd/**/*"
      - "core/**/*"
      - "internal/tests/**/*"
      - ".golangci.yml"
      - "mise.toml"
      - "go.mod"
      - "go.sum"
      - "go.work"
      - "go.work.sum"
      - "som.go"

concurrency:
  group: "${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: true

jobs:

  sync:
    name: Sync
    #if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    permissions: "write-all"
    timeout-minutes: 1
    steps:

      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Setup Mise
        uses: jdx/mise-action@v3
        with:
          install: true
          cache: true

      - name: Cache Go Modules
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: go-modules-v1

      - name: Sync
        working-directory: .
        run: go mod download

      - name: Commit Changes
        uses: EndBug/add-and-commit@v9
        with:
          message: "Apply dependency sync"
          default_author: github_actions
          pull: "--rebase --autostash"
          push: true

  lint:
    name: Lint
    #if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    permissions: "write-all"
    timeout-minutes: 5
    steps:

      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Setup Mise
        uses: jdx/mise-action@v3
        with:
          install: true
          cache: true

      - name: Cache Go Modules
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: go-modules-v1

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          install-mode: "none"
          working-directory: .
          args: --path-prefix=. --new=false --whole-files --timeout 5m

      - name: Commit Changes
        uses: EndBug/add-and-commit@v9
        with:
          message: "Apply golangci-lint auto-fix changes"
          default_author: github_actions
          pull: "--rebase --autostash"
          push: true

  build:
    name: Build
    #if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:

      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Mise
        uses: jdx/mise-action@v3
        with:
          install: true
          cache: true

      - name: Cache Go Modules
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: go-modules-v1

      - name: Cache Go Build
        uses: actions/cache@v4
        with:
          path: ~/.cache/go-build
          key: go-build-v1

      - name: Build
        working-directory: .
        run: go build -v ./...

  test-som:
    name: Test SOM
    #if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:

      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Mise
        uses: jdx/mise-action@v3
        with:
          install: true
          cache: true

      - name: Cache Go Modules
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: go-modules-v1

      - name: Cache Go Build
        uses: actions/cache@v4
        with:
          path: ~/.cache/go-build
          key: go-build-v1

      - name: Test
        working-directory: .
        run: |
          go test \
          -trimpath -ldflags="-s -w" -buildvcs=false -short \
          -failfast -parallel 3 -count=1 -race -vet=off -v ./...

  test-gen:
    name: Test Gen
    #if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:

      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Mise
        uses: jdx/mise-action@v3
        with:
          working_directory: internal/tests
          install: true
          cache: true

      - name: Cache Go Modules
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: go-modules-v1

      - name: Cache Go Build
        uses: actions/cache@v4
        with:
          path: ~/.cache/go-build
          key: go-build-v1

      - name: Test
        working-directory: internal/tests/basic
        run: |
          go test \
          -trimpath -ldflags="-s -w" -buildvcs=false -short \
          -failfast -parallel 3 -count=1 -race -vet=off -v ./...
