name: PR

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - ".github/workflows/pull_request.yml"
      - "cmd/**/*"
      - "core/**/*"
      - "internal/tests/**/*"
      - ".envrc"
      - ".golangci.yml"
      - "mise.toml"
      - "go.mod"
      - "go.sum"
      - "go.work"
      - "go.work.sum"
      - "som.go"

jobs:

  sync:
    name: Sync
    runs-on: ubuntu-latest
    permissions: "write-all"
    timeout-minutes: 1
    steps:

      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Setup Mise
        uses: jdx/mise-action@v3
        with:
          install: true
          cache: true

      - name: Cache Go Modules
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: go-modules-v1

      - name: Sync
        working-directory: .
        run: go mod download

      - name: Commit Changes
        uses: EndBug/add-and-commit@v9
        with:
          message: "Apply dependency sync"
          default_author: github_actions
          pull: "--rebase --autostash"
          push: true

  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions: "write-all"
    timeout-minutes: 5
    steps:

      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Setup Mise
        uses: jdx/mise-action@v3
        with:
          install: true
          cache: true

      - name: Cache Go Modules
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: go-modules-v1

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          install-mode: "none"
          working-directory: .
          args: --path-prefix=. --timeout 5m

      - name: Commit Changes
        uses: EndBug/add-and-commit@v9
        with:
          message: "Apply golangci-lint auto-fix changes"
          default_author: github_actions
          pull: "--rebase --autostash"
          push: true

  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:

      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Mise
        uses: jdx/mise-action@v3
        with:
          install: true
          cache: true

      - name: Cache Go Modules
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: go-modules-v1

      - name: Cache Go Build
        uses: actions/cache@v4
        with:
          path: ~/.cache/go-build
          key: go-build-v1

      - name: Build
        working-directory: .
        run: go build -v ./...

  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:

      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Mise
        uses: jdx/mise-action@v3
        with:
          install: true
          cache: true

      - name: Cache Go Modules
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: go-modules-v1

      - name: Cache Go Build
        uses: actions/cache@v4
        with:
          path: ~/.cache/go-build
          key: go-build-v1

      - name: Test Library
        working-directory: .
        run: go test -v ./...

      - name: Test Basic
        working-directory: internal/tests/basic
        run: go test -v ./...
